<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eid ul adha zakat</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <div class="header-section">
            <img src="./cattles-at-the-baishmouja-haat-on-the-banks-of-meghna-river-at-brahmanbarias-J0HD2C.jpg" alt="">
        </div>
        <div class="center">
            <h1><span>Lest's</span>Finish Your <span>Evil</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam fugit quo reprehenderit veniam
                voluptas mollitia minima? A quis totam molestias. Quas a nisi.</p>
            <a class="link-button" target="_blank" href="#">Donate Now</a>
        </div>
        <br>
    </section>
    <section>
        <div class="center-2">
            <h1><span>Thier lives</span>depend on your <span>Finace</span></h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, maiores!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quasi?</p>
            <br>
            <a class="link-button" target="_blank" href="">Explor More </a>
        </div>
        <div class="center-3">
            <img src="./goru-1.jpg" alt="">
        </div>
    </section>
    <br><br><br>
    <section>
        <div class="center-4">
            <img src="./bangla munazat.PNG" alt="" style="width:100%" ;>
        </div>
        <div class="center-5">
            <h1><span>Their lives</span>depend on your <span>Support</span> </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, porro!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ea.</p>
            <br>
            <a class="link-button" target="_blank" href="">ExplorMore</a>
        </div>
    </section>
    <br><br><br><br>
    <section>
        <div class="center-6">
            <h1><span>Their lives</span>depend on your <span>Information</span></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laborum, impedit sint illo <br> dolorum
                accusantium magnam non facilis aliquam atque.
            </p>
        </div>
    </section>
    <section>
        <div class="box-shadow">
            <img src="./Frame-1.png" alt="">
            <h1 class="text">Financlal Help</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ex ut earum reiciendis animi nulla.this
                the ver herd working and i my best try</p>
        </div>
        <div class="box-shadow">
            <img src="./Frame-1.png" alt="">
            <h1 class="text">Information Help</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque tenetur, adipisci autem quo
                quidem!this the ver herd working and i my best try
            </p>
        </div>
    </section>
    <section>
        <div class="tryit">
            <h1><span> Zakat</span> for poor man</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non exercitationem distinctio maxime libero?
                Architecto ad aliquam quidem a sed quaerat, ducimus cupiditate officiis eos accusamus, magni laudantium,
                recusandae reiciendis blanditiis fugit id cumque dolore itaque voluptatum saepe dignissimos. Voluptas
                repudiandae officia totam molestiae laboriosam cum ratione quis numquam veritatis a.</p>

        </div>
    </section>
    <section>
        <div class="box-shadow1">
            <img src="./Frame-1.png" alt="">
            <h1 class="text">Information Help</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque tenetur, adipisci autem quo
                quidem!this the ver herd working and i my best try
            </p>
        </div>
        <div class="box-shadow1">
            <img src="./Frame-1.png" alt="">
            <h1 class="text">Information Help</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque tenetur, adipisci autem quo
                quidem!this the ver herd working and i my best try
            </p>
        </div>
    </section>
    <section>
        <div class="center-img">
            <img src="./namaj1.jpg" alt="">
        </div>
        <div class="center-img">
            <img src="./namaj2.jpg" alt="">
        </div>
        <div class="center-img2">
            <img class="woman" src="./muslim-woman-is-praying-in-the-house-muslim-woman-praying-picture_csp4272047.webp"
                alt="">
        </div>
    </section>
    <section>
        <div class="footer">
            <h1><span>Extend Your</span>of Charity Eran Rewards of the <span>Hereafter</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum sint sequi assumenda magni, quisquam
                quod minima? Distinctio expedita tempore consequatur.</p>
            <br> <br><br>
        </div>
    </section>
    <section>
        <div class="footer-1">
            <img src="./zakat.jpg" alt="" style="width:70%" ;>
            <h1>Zakat Found</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque adipisci porro voluptatum est ex
                debitis iste natus omnis amet?</p>
            <h1><span class="footer-4">Donate For Zakat</span></h1>
        </div>
        <div class="footer-2">
            <img src="./images.jpg" alt="">
            <h1>Zakat Found</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque adipisci porro voluptatum est ex
                debitis iste natus omnis amet?</p>
            <h1><span class="footer-4">Donate For Zakat</span></h1>
        </div>
        <div class="footer-3">
            <img src="./monajat.jpg" alt="">
            <h1>Zakat Found</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque adipisci porro voluptatum est ex
                debitis iste natus omnis amet?</p>
            <h1><span class="footer-4">Donate For Zakat</span></h1>
        </div>
    </section>
    <br><br>
    <br><br>
    <br><br>
</body>
<footer class="last-part">
    <h2>Eid Ul Adha</h2>
    <p>I'm gonna do it..! </p>
</footer>

</html>